<span class="cart-count hidden" id="cart-item-count-hidden">
  <span class="mini-cart-item-count-js">{{ cart.item_count }}</span>
  <span class="hidden" id="cart-total-hidden">
    {{ cart.total_price | money }}
  </span>
</span>

<h4 class="mini-cart-item-count-js">{{ cart.item_count }} {{ 'cart.general.items_text' | t }} | {{ 'cart.general.subtotal_text' | t }}: {{ cart.total_price | money }} </h4>
<form action="{{ routes.cart_url }}" method="post" id="mini-cart">
  <div class="mini-cart-form-items" data-id="{{ section.id }}">
    {%- if cart != empty -%}
      {%- for item in cart.items -%}
        <div class="mini-cart-item" id="MiniCartItem-{{ item.index | plus: 1 }}">
          <div class="mini-cart-item-media">
            {% if item.image %}
              <a href="{{ item.url }}" class="mini-cart-item-link" aria-hidden="true" tabindex="-1">
                <img src="{{ item.image | image_url: width: 160, height: 160, crop: 'center' }}"
                  class="mini-cart-item-image"
                  alt="{{ item.image.alt | escape }}"
                  loading="lazy"
                  width="160"
                  height="160"
                >
              </a>
            {% endif %}
          </div>

          <div class="mini-cart-item-details">
            <h4 class="mini-cart-item-name">{{ item.product.title | escape }}</h4>
            <h5 class="mini-cart-item-price">
              {% if item.product.compare_at_price %}
                <s>{{ item.product.compare_at_price | money }}</s><span class="offer-price">{{ item.product.price | money }}</span>
              {% else %}
                {{ item.product.price | money }}
              {% endif %}
            </h5>
            <div class="mini-cart-item-quantity-wrapper">
              <quantity-input class="quantity">
                <p>{{ 'products.product.quantity.label' | t }}
                  <input class="quantity-input mini-cart-quantity-js"
                    type="number"
                    name="updates[{{ item.key }}]"
                    value="{{ item.quantity }}"
                    aria-label="{{ 'products.product.quantity.label' | t: product: item.product.title | escape }}"
                    id="Quantity-{{ item.index | plus: 1 }}"
                    data-index="{{ item.index | plus: 1 }}"
                    data-key="{{ item.key }}"
                  >
                </p>
              </quantity-input>
            </div>
          </div>

        </div>
      {%- endfor -%}
    {%- else -%}
      <div class="mini-cart-empty">
        <p>{{ 'cart.general.empty' | t }}</p>
      </div>
      <side-drawer-toggle class="button" data-drawer="drawer-mini-cart">{{ 'cart.general.continue_shopping' | t }}</side-drawer-toggle>
    {%- endif -%}
  </div>
</form>

<div class="drawer-footer mini-cart-footer">

  <a href="/checkout" class="button button-full-width hide-mini-cart-empty-js {% if cart.item_count == 0 %}hidden{% endif %}">{{ 'cart.general.checkout' | t }}</a>
    
  {% if settings.mini_cart_promo_product != blank %}
    <div class="mini-cart-footer-promo">
      {%- liquid
        assign promo_product = settings.mini_cart_promo_product
        assign promo_qualifier = settings.mini_cart_qualifier_product
        assign upsell = all_products[promo_product.handle]
        assign cart_qualifier = all_products[promo_qualifier.handle]
        assign qualifier = false
        assign promo_in_cart = false
        for cart_item in cart.items
          if cart_qualifier.id == cart_item.product_id
            assign qualifier = true
          endif
          if upsell.id == cart_item.product_id
            assign promo_in_cart = true
          endif
        endfor 
        if qualifier == true and promo_in_cart == false
          render 'product-card-upsell', upsell: upsell
        endif 
      -%}
    </div>
  {% endif %}

</div>