<div class="hero">
  <div class="hero-container">
    <div class="hero-image-container">
      {% if section.settings.hero_image %}
        <picture>
          <img 
          class="hero-image hide-on-mobile"
          alt="{{ image.alt }}"
          loading="lazy"
          src="{{ section.settings.hero_image | image_url: width: '1512' }}"
          srcset="{{ section.settings.hero_image | image_url: width: '1512' | sizes: '(min-width:1600px) 960px, (min-width: 768px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)' }}" />
          <img 
          class="hero-image hide-on-desktop"
          loading="eager"
          alt="{{ image.alt }}"
          src="{{ section.settings.hero_image | image_url: width: '375' }}"
          srcset="{{ section.settings.hero_image | image_url: width: '375' }}" />
        </picture>
      {% endif %}
    </div>
    <div class="content-container">
      {% if section.settings.hero_product != blank %}
        {% assign header_product = section.settings.hero_product.handle %}
        {% assign featured_product = all_products[header_product] %}
        {% render 'hero-product-card', 
          featured_product: featured_product, 
          hero_heading: section.settings.hero_heading, 
          hero_subheading: section.settings.hero_subheading, 
          hero_body: section.settings.hero_body
        %}
      {% else %}
        <div class="content-grid">
          <div class="text">
            <h1 class="text-left">{{ section.settings.hero_heading }}</h1>
            <p class="text-justify">{{ section.settings.hero_body }}</p>
          </div>
        </div>
      {% endif %}
      {% if section.settings.show_callouts == true %}
        <div class="callouts-grid hide-on-mobile">
          {% for block in section.blocks %}
            <div class="callout-{{ forloop.index }}">
              {% render 'rating-stars', block: block %}
              <h3 class="text-center">{{ block.settings.callout_text}}</h3>
              <h4 class="text-center">{{ block.settings.callout_subtext}}</h4>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Hero section",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      },
      {
        "type": "text",
        "id": "hero_heading",
        "label": "Hero Heading"
      },
      {
        "type": "textarea",
        "id": "hero_body",
        "label": "Hero Body Copy"
      },
      {
        "type": "product",
        "id": "hero_product",
        "label": "Hero Product"
      },
      {
        "type": "checkbox",
        "id": "show_hero_product",
        "label": "Show hero product?",
        "default": true
      },      
      {
        "type": "checkbox",
        "id": "show_callouts",
        "label": "Show callouts?",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "text",
            "id": "callout_text",
            "label": "Callout Text"
          },
          {
            "type": "text",
            "id": "callout_subtext",
            "label": "Callout Subtext"
          },
          {
            "type": "range",
            "id": "callout_stars",
            "min": 1,
            "max": 5,
            "default": 5,
            "label": "Star rating (1-5)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}
